{% from "templates/_helpers.j2" import host, group %}

Host *
  ForwardAgent yes
  ForwardX11 no
  GSSAPIAuthentication no
  Compression yes
  Protocol 2
  ServerAliveInterval 5
  StrictHostKeyChecking no
{% if keys is defined %}
{% for key in keys %}
  IdentityFile {{ key }}
{% endfor %}
{% endif %}

{% for _host in hosts -%}
  {{ host(_host) }}
{% endfor %}

{% for client in clients -%}
# {{ client.name }}

  {% for _group in client.groups -%}
    {{ group(_group, client.user, client.port, client.key, client.proxy) }}
  {% endfor %}
{% endfor %}
